<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="reset">
    <div id="content">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>メール送信完了</h2></div>
                <div class="sect">
					<p class="notice">パスワード変更メールを送信しました！<BR> <strong>{$_SESSION['reemail']}</strong> に{$INI['system']['abbreviation']}から届いたメールの中にあるリンクをクリックして、パスワードを再設定してください。</p>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->