<!--{if trim($INI['bulletin'][0])}-->
<div class="sbox side-business">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
			<h2>全国共通広告枠</h2>
			<div>{$INI['bulletin'][0]}</div>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
<!--{/if}-->

<!--{if trim($INI['bulletin'][$city['id']])!=trim($INI['bulletin'][0])}-->
<div class="sbox side-business">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
			<h2>{$city['name']}限定広告枠</h2>
			<div>{$INI['bulletin'][$city['id']]}</div>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
<!--{/if}-->
