<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<form action="/team/buy.php?id={$team['id']}" method="post" class="validator">

<div id="content">
	<input id="deal-per-number" value="{$team['per_number']}" type="hidden" />
	<input id="deal-team-price" value="{$team['team_price']}" type="hidden" />
    <div id="deal-buy" class="box">
        <div class="box-top"></div>
		<div class="box-content">
		            <div class="head"><h2>購入内容の確認</h2></div>
		            <div class="sect">
			            <table class="order-table">
			                <tr>
			                    <th class="deal-buy-desc">クーポン名称</th>
			                    <th class="deal-buy-quantity">枚数</th>
			                    <th class="deal-buy-multi"></th>
			                    <th class="deal-buy-price">価格</th>
			                    <th class="deal-buy-equal"></th>
			                    <th class="deal-buy-total">合計金額</th>
			                </tr>
			                <tr>
			                    <td class="deal-buy-desc">{$team['title']}</td>
			                    <td class="deal-buy-quantity"><input type="text" class="input-text f-input" maxlength="4" name="quantity" value="{$order['quantity']}" id="deal-buy-quantity-input" ${$team['per_number']==1?'readonly':''} /><br /><span style="font-size:12px;color:gray;"><!--{if $team['per_number']==0}-->最大9,999枚<!--{else}-->最大{$team['per_number']}枚<!--{/if}--></span></td>
			                    <td class="deal-buy-multi">x</td>
			                    <td class="deal-buy-price"><span class="money">{$currency}</span><span id="deal-buy-price">${number_format($team['team_price'])}</span></td>
			                    <td class="deal-buy-equal">=</td>
			                    <td class="deal-buy-total"><span class="money">{$currency}</span><span id="deal-buy-total">${number_format($order['quantity']*$team['team_price'])}</span></td>
			                </tr>
							<!--{if $team['delivery']=='express'}-->
			                <tr>
			                    <td class="deal-buy-desc">配送</td>
			                    <td class="deal-buy-quantity"></td>
			                    <td class="deal-buy-multi"></td>
			                    <td class="deal-buy-price"><span class="money">{$currency}</span><span id="deal-express-price">${number_format($team['fare'])}</span></td>
			                    <td class="deal-buy-equal">=</td>
			                    <td class="deal-buy-total"><span class="money">{$currency}</span><span id="deal-express-total">${number_format($team['fare'])}</span></td>
			                </tr>
							<!--{/if}-->
			
							<!--  <tr class="order-total">
			                    <td class="deal-buy-desc"><strong>注文の合計：</strong></td>
			                    <td class="deal-buy-quantity"></td>
			                    <td class="deal-buy-multi"></td>
			                    <td class="deal-buy-price"></td>
			                    <td class="deal-buy-equal">=</td>
			                    <td class="deal-buy-total"><span class="money">{$currency}</span><strong id="deal-buy-total-t">{$order['origin']}</strong></td>
			                </tr> -->
			            </table>
					<!--{if $team['delivery']=='express'}-->
					<div class="wholetip clear"><h3>送付先情報</h3></div>
					<div class="field username">
						<label>送付先</label>
						<input type="text" size="30" name="realname" id="settings-realname" class="f-input" value="{$order['realname']}" require="true" datatype="require" />
					</div>
					<div class="field mobile">
						<label>携帯電話</label>
						<input type="text" size="30" name="mobile" id="settings-mobile" class="number" value="{$order['mobile']}" require="true" datatype="mobile" maxLength="11" />
						<span class="hint">携帯電話番号は事務局からのご連絡に必要です。</span>
					</div>
					<div class="field mobile">
						<label>郵便番号</label>
						<input type="text" size="30" name="zipcode" id="settings-mobile" class="number" value="{$order['zipcode']}" require="true" datatype="zip" maxLength="6" />
					</div>
					<div class="field username">
						<label>ご住所</label>
						<input type="text" size="30" name="address" id="settings-address" class="f-input" value="{$order['address']}" require="true" datatype="require" />
						<span class="hint">住所記入例：「東京都港区新橋4-23-4オーツカビル2F」</span>
					</div>
					<!--{/if}-->
					<!--  
					<div class="field mobile">
						<label>備考欄</label>
						<textarea name="remark" style="width:500px;height:80px;padding:2px;">${htmlspecialchars($order['remark'])}</textarea>
					</div> 
					-->
		            <input id="deal-buy-cardcode" type="hidden" name="cardcode" maxlength="8" value="" />
		            <input type="hidden" name="id" value="{$order['id']}" />
		    </div>
     <div class="act">
         <input type="submit" value="送信" name="commit" id="settings-submit" class="formbutton"/>
     </div>
		    
		</div>
		
        <div class="box-bottom"></div>
	</div>

</div>
</div>

</form>

<div id="sidebar">	</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->