
<!--{include header}-->

<div style="background-color:#44abaf; padding: 10px 10px; border-bottom: 2px #fbf3cf solid;">
<span style="margin: 0px;font-weight:bold;font-size: 20px;">メール送信完了</span>
</div>

<div style="margin: 3px; "></div>
<div style="background-color: #a2def0; border-bottom: 2px #ffffff solid; padding: 5px;">
	
	<p>パスワードの再設定メールをお客様の{$_SESSION['reemail']}に送信しました。<br />
		メール内の手順に従い、{$INI['system']['abbreviation']}のパスワードを再設定してください。</p>
	<p>	メー ルが届かない場合は、迷惑メールフォルダ等に<br />
		含まれていることもありますので、併せてご確認ください。<br />
		&nbsp;</p>
	<p>	ユーポン サポート</p>	
	
</div>

<!--{include footer}-->