<div class="sbox">
<div class="sbox-top"></div>
<div class="sbox-content">
<div class="side-tip">
<h3 class="first">{$INI['system']['couponname']}とは何ですか？</h3>
<p>{$INI['system']['couponname']}とは、クーポン購入が成立した後に届く電子メール、もしくは、あるいはマイページで表示する印刷用画面です。どちらにも、お客様の購入情報を確認する為の、認証キーが含まれています。</p>
<h3>{$INI['system']['couponname']}はどのように使用しますか？</h3>
<p>クーポン使用時は、クーポン購入成立後に届くメール、もしくは、マイ{$INI['system']['couponname']}ページから印刷した{$INI['system']['couponname']}を、店頭で提示します。印刷した{$INI['system']['couponname']}には、更に詳細な使用方法が記載されています。</p>
</div>
</div>
<div class="sbox-bottom"></div>
</div>