<div class="sbox">
<div class="sbox-top"></div>
<div class="sbox-content">
<div class="side-tip">
	<h2>ソーシャルIDでログイン</h2>
		<hr>
		<p>{$INI['system']['abbreviation']}はmixi、facebook、twitter のIDでもログイン可能です。IDお持ちのサイトのロゴをクリックして下さい。</p>
	       	<p><img src="http://a0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png"></img></p>
		<p><img src="http://developers.facebook.com/images/devsite/login-button.png"></img></p>
		<p><img src="http://img.mixi.jp/img/basic/openid/a_150.gif"></img></p>
</div>
</div>
<div class="sbox-bottom"></div>
</div>