<div id="ft">
<p align="right"><a href="#"><img src="/static/img/pageup.png" /></a></p>
</div>
<div id="ftw">
	<div class="footer" margin-left="40px">
		<a href="/index.php">本日のクーポン</a><span>|</span>
		<a href="/team/index.php">過去のクーポン</a><span>|</span>
		<a href="/team/index.php">クーポンの感想</a><span>|</span>
		<a href="/team/index.php">{$INI['system']['abbreviation']}とは</a><span>|</span>
		<a href="/help/faqs.php">よくあるご質問</a><span>|</span>
		<a href="/about/contact.php">お問い合わせ</a><span>|</span>
		<a href="/about/contact.php">ご出稿を希望の事業者様</a>
		<!--{if is_manager()}-->
		<a href="/manage/index.php">管理</a>
		<!--{/if}-->
		<p>Copyright &copy; 2010 <a href="http://www.universe-group.co.jp">radipon.co.jp</a> All Rights Reserved</p>
	</div>
</div>
<!--{include html_footer}-->