<!--{include header}-->
<div style="background-color:#A2DEF0;">
	<div id="dashboard" style="background-color:#40bdab;border-bottom: 2px #fbf3cf solid;">
    <table style="width:100%;font-size:12px;" >
		<tr>${current_MyPage1('index')}</tr>
		<tr>${current_MyPage2('index')}</tr>	
	</table>
	</div>
	<div style="background-color: #44abaf; padding: 6px 10px;border-bottom: 2px #fbf3cf solid;">
		<span style="margin: 0px;font-weight:bold;font-size: 20px;">マイアカウント</span>
	</div>
	
<form id="settings-form" method="post" action="/account/settings.php"  class="validator">
<div style="border-bottom: 2px #ffffff solid; padding: 0px 10px;">
<div style="margin: 8px; "></div>	
<span style="margin: 0px;font-weight:bold;font-size: 16px;">1.基本情報</span>
 <div class="ewe" id="fwewe">
 <label for="edit-name">Email</label>
 <input type="text" size="30" name="email" id="settings-email-address" class="f-input readonly" readonly="readonly" value="{$login_user['email']}" />
 </div>
<div class="cee" id="qdqd">
 <label for="edit-mail">ニックネーム </label>
 <input type="text" size="30" name="username" id="settings-username" class="f-input" value="{$login_user['username']}" require="true" datatype="limit" min="2" max="16" maxLength="16"/>
</div>
<div class="qq" id="adq">
 <label for="edit-pass">新しいパスワード </label>
 <input type="password" size="30" name="password" id="settings-password" class="f-input" />
 <div style="color:#666666">パスワードを変更しない場合はブランクにしてください。</div>
</div>
<div class="qq" id="adq">
 <label for="edit-pass">パスワードの再入力  </label>
 <input type="password" size="30" name="password2" id="settings-password-confirm" class="f-input" />
</div>
<div style="margin: 3px; "></div>	
<span style="margin: 0px;font-weight:bold;font-size: 16px;">2.連絡先情報</span>
<div class="ewe" id="fwewe">
 <label for="edit-name">氏名</label>
<input type="text" size="30" name="realname" id="settings-realname" class="f-input" value="{$login_user['realname']}" />
 </div>
 <div style="margin: 3px; "></div>
<div class="cee" id="qdqd">
 <label for="edit-mail">郵便番号 <span class="form-required" title="このフィールドの入力は必須です。">*</span></label>
 <input type="text" maxLength=7 size="10" name="zipcode" id="settings-zipcode" class="f-input number" value="{$login_user['zipcode']}" />
</div>
<div class="qq" id="adq">
 <label for="edit-pass">現住所 </label>
 <input type="text" size="30" name="address" id="settings-address" class="f-input" value="{$login_user['address']}" />
 <div style="color:#666666">住所記入例：東京都港区新橋4-23-4オーツカビル2F。</div>
</div>
<div class="qq" id="adq">
 <label for="edit-pass">電話番号  </label>
 <input type="text" size="30" name="mobile" id="settings-mobile" class="number" value="{$login_user['mobile']}" /><br />
 <span class="f-input-tip">ハイフンを入れずに入力してください。</span>
</div>
<div style="margin: 3px; "></div>	
<span style="margin: 0px;font-weight:bold;font-size: 16px;">3. お知らせメール</span>
 <div >
<label for="edit-pass">エリア </label>
<select name="city_id" class="f-city">${Utility::Option(Utility::OptionArray($hotcities, 'id', 'name'), $login_user['city_id'])}<option value='0'>その他</option></select>
</div>
<div style="margin: 3px; "></div>	
<input type="submit" value="更新" name="commit" id="settings-submit" class="formbutton"/>
<div style="margin: 3px; "></div>
</div>
</form>
</div>

<!--{include footer}-->