<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="referrals">
    <div id="content" class="refers">
        <div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>お友達に教える</h2></div>
                <div class="sect">
					<div class="share-links">
                    <ul class="share-list cf">
                        <li class="site">
                            <a class="logo" href="javascript:void 0" id="referrals-share-others-link"><img src="{$INI['system']['wwwprefix']}/static/css/i/logo_msn.png" /></a>
                            <p class="im">お友達紹介キャンペーン実施中！詳しくはこちらから<input id="share-copy-text" type="text" value="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" size="35" class="f-input" onfocus="this.select()" />
                            </p>
                        </li>
                    </ul>
					<div class="nodeal cf">
						<br>
						<!--{include block_invite_share}-->
					</div>
					</div>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
    <div id="sidebar">
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->