<div id="deal-share">
	<div class="deal-share-top">
		<div class="deal-share-links">
			<h4>シェア：</h4>
			<ul class="cf">
                          <li>
                           <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php?u=http://www.upon.jp&t={$team['title']}&src=sp" target="_blank">Facebook</a>
                           </li>

			<li><a href="http://www.mixi.jp/" target="_blank">mixi</a></li>
			<li><a href="http://twitter.com/home?status={$team['title']}++http://www.upon.jp" target="_blank">twitter</a></li><li><a class="email" href="${share_mail($team)}" id="deal-buy-mailto">メール</a></li></ul>
		</div>
		</div>
	</div>
</div>