<!--{include header}-->

<div id="dashboard" style="background-color:#40bdab;border-bottom: 2px #fbf3cf solid;">
	<table style="width:100%;font-size:12px">
	<!--{if $id}-->
		<tr>${current_forum(null)}</tr>
	<!--{else}-->
		<tr>${current_forum('public')}</tr>	
	<!--{/if}-->
	</table>
</div>
<div style="background-color:#A2DEF0">
    <div style="background-color: #44abaf; padding: 6px 10px; border-bottom: 2px #fbf3cf solid;">
		<!--{if $public}-->
		<span style="margin: 0px; font-weight: bold; font-size: 20px;">{$public['name']}話題</span>
		<!--{else}-->
		<span style="margin: 0px; font-weight: bold; font-size: 20px;">全国共通のトピックス</span>
		<!--{/if}-->
	</div>
	 <div style="padding: 6px 10px;">
    	<a style="color:#339999;font-size:12px" href="/forum/new.php<!--{if $public}-->?id={$public['id']}<!--{/if}-->">＋新しいトピックス</a>
    </div>
	<div style="font-size:12px">
		<table style="width:100%"id="orders-list" cellspacing="0" cellpadding="0" border="0">
			<!--{if $public}-->
				<tr>
					<th style="background-color: #44abaf;font-size:12px"width="90%">トピックス</th>
					<th style="background-color: #44abaf;font-size:12px"width="10%" nowrap>返信/閲覧</th>
				</tr>
				<!--{loop $topics $index $one}-->
				<tr>
					<td ${$index%2?'style="text-align:left;border:1px solid #fbf3cf;padding:10px;font-size:12px"':'style="text-align:left;background:none repeat scroll 0 0 #F1F1F1;border:1px solid #fbf3cf;padding:10px;font-size:12px"'}>
						<a href="/forum/topic.php?id={$one['id']}" style="${$one['head']?'color:#F00;':''}">${htmlspecialchars($one['title'])}</a>
					</td>
					<td align="center" ${$index%2?'style="border:1px solid #fbf3cf;padding:10px;font-size:12px"':'style="background:none repeat scroll 0 0 #F1F1F1;border:1px solid #fbf3cf;padding:10px;font-size:12px"'} nowrap>
						{$one['reply_number']}/{$one['view_number']}
					</td>
				</tr>
				<!--{/loop}-->
				<tr>
					<td colspan="2" style="background-color:#20b8d4; color: #fbf3cf; font-size: 12px; font-weight: bold; text-align: center;line-height: 22px">{$pagestring}</td>
				</tr>
			<!--{else}-->
				<tr><th style="background-color: #44abaf;font-size:12px" width="100%">掲示板</th></tr>
				<!--{loop $show_public $index $one}-->	
				<tr>
					<td ${$index%2?'style="text-align:left;border:1px solid #fbf3cf;padding:10px;font-size:12px"':'style="text-align:left;background:none repeat scroll 0 0 #F1F1F1;border:1px solid #fbf3cf;padding:10px;font-size:12px"'}>
						<a href="/forum/public.php?id={$one['id']}">{$one['name']}</a>						
					</td>
				</tr>
				<!-- {/loop}-->
				<!-- <tr>
					<td style="background-color:#20b8d4; color: #fbf3cf; font-size: 12px; font-weight: bold; text-align: center;line-height: 22px">{$pagestring}</td>
				</tr> -->
			<!--{/if}-->
		</table>
	</div>
</div>

<!--{include footer}-->