<!--{include header}-->

<div id="content" style="width: 100%; font-family: arial, sans-serif;" >
	<div style="background-color: #ffcc00; padding: 6px 10px; ">
		<span style="margin: 0px;font-weight:bold;font-size: 20px;">過去のクーポン:{$city['name']}</span>
	</div>
	<!--{loop $teams $index $one}-->
	<div style="margin: 3px; ">
		<div style="background-color: #c7c530; padding: 5px; font-weight: bold;">
			<table style="width: 100%; font-size: 12px;">
				<tr>
					<td style="width: 40%">
					<div style="vertical-align: top">${date('Y年n月j日', $one['begin_time'])}</div>
					<div><img alt="{$one['title_m']}" src="${team_image($one['image_m'])}"  width="91" height="100"></div>
					</td>
					<td valign="top" style="width: 60%;">
					<div>
					<span style="margin: 0px;font-weight:bold;font-size: 20px;"><img
						src="{$one['picclass']}" alt="Upon"
						width="60" height="40" />${round(100-100*$one['team_price']/$one['market_price'])}%</span>
					</div>
					<div style="padding: 5px; font-size: 12px;">
					{$one['title']}
					</div>
					</td>
				</tr>
			</table>
		</div>
		<div style="background-color: #a2def0; padding: 5px;">
			<table style="width: 100%; font-size: 12px;">
				<tr>
					<td style="width: 55%;vertical-align: text-top">					
					<div style="color: #000000; margin: 0px 2px;  font-size: 12px;">通常価格:${moneyit($one['market_price'])}円</div>
					<div style="color: #000000; margin: 0px 2px;  font-size: 12px;">割引率:${round(100-100*$one['team_price']/$one['market_price'])}%</div>
					<div style="color: #000000; margin: 0px 2px;  font-size: 12px;">販売価格:${moneyit($one['team_price'])}円</div>
					</td>
					<td style="width: 45%;vertical-align: text-top;text-align: center;">
					
					<div style="color: #000000; margin: 0px 2px;  font-size: 12px;">
						<span style="color: #e62d66;">{$one['now_number']}</span>人購入済み
					</div>
					<div style="margin-top: 4px">
						<a href="/team.php?id={$one['id']}" style="font-size: 14px;font-weight:bold;color: #f92b10;">詳細</a>
					</div>					
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!--{/loop}-->
	<div style="background-color:#20b8d4; color: #fbf3cf; font-size: 12px; font-weight: bold; text-align: center;line-height: 22px">
		{$pagestring}
	</div>
</div>

<!--{include footer}-->