<!--{include header}-->


<div id="content" style="width: 100%; font-family: arial, sans-serif;">       
    <div style="background-color: #ffcc00; padding: 6px 10px; border-bottom: 2px #fbf3cf solid;">
        <span style="margin: 0px;font-weight:bold;font-size: 20px;">特定商取引法に基づく表記</span>
    </div>

	<div style="background-color:#c7c530; border-bottom: 2px #ffffff solid; padding: 5px;">
	<table style="width: 100%; font-size: 12px; border-bottom: 1px #fbf3cf solid; padding-top:10px">
		<tr>
			<td ><b>販売業者</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">ユニバース株式会社</td>
		</tr>
	</table>
	
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
		<tr>
			<td ><b>運営統括責任者</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">鈴木　天也
			</td>
		</tr>
	</table>
	
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
		<tr>
			<td ><b>所在地</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">〒105-0004東京都港区新橋4-23-4オーツカビル2F </td>
		</tr>
	</table>
	
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
              <tr>
			<td ><b>販売価格</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">各商品ページに記載された価格 </td>
		</tr>
	</table>
	
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
              <tr>
			<td ><b>商品の引き渡し時期</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">売買契約成立後5日以内にマイページから印刷可能になります</td>
		</tr>
	</table>
	
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
              <tr>
			<td ><b>お申込みの有効期限</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">各商品ページに記載された日時</td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
               <tr>
			<td ><b>お支払い方法</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">クレジットカード払い（Visa, MasterCard, JCB, AmericanExpress, Diners）の一括払い</td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
               <tr>
			<td ><b>キャンセルついて</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">お申し込み後、売買契約が成立するまでの間に可能</td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
               <tr>
			<td ><b>返品について</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">商品の性質上受け付けていません。ただし、商品の提供元企業が倒産などにより本サイトで会員が購入した 商品の提供にかかる債務の履行ができない場合は、商品ごとに設定された有効期間内であれば、購入代金を限度として返金します。</td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
               <tr>
			<td ><b>お客様ご相談窓口</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">support@universe-group.co.jp</td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;border-bottom: 1px #fbf3cf solid; padding-top:10px">
              <tr>
			<td ><b>お客様ご相談窓口</b></td>
		</tr>
	</table>
	<table style="width: 100%; font-size: 12px;">
		<tr>
			<td style="padding-left:15px">support@universe-group.co.jp</td>
		</tr>
	</table>
	            <p>
	その他お買い物に関するご質問は
	<a href="/help/faqs.php">よくあるご質問</a>をご覧ください
	</p>
	<p>
	個人情報の取り扱いについて
	弊社の<a href="/about/privacy.php">プライバシーポリシー</a>をご覧ください
	</p>
	</div>
</div>
<!--{include footer}-->