<div class="deal-subscribe">
<div class="top"></div>
<div class="body" id="deal-subscribe-body">
<form id="deal-subscribe-form" method="post" action="/subscribe.php">
<table class="address">
	<tr>
		<td><input type="text" name="email" class="f-text"
			id="deal-subscribe-form-email" xtip="メールアドレスを入力" value="" /></td>
		<td><input type="hidden" name="city_id" value="{$city['id']}" /><input
			type="image" src="/static/css/i/button-subscribe.gif" value="送信" /></td>
	</tr>
</table>
</form>
<p class="text">毎日新しいクーポン情報を<br />
メールでお届けします。<br />
<span class="required">*</span> いつでも解除可能です</p>
</div>
<div class="bottom"></div>
</div>