<?xml version="1.0" encoding="shift_jis"?>
<!DOCTYPE html PUBLIC "-//OPENWAVE//DTD XHTML 1.0//EN" "http://www.openwave.com/DTD/xhtml-basic.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<title>UPon</title>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<meta http-equiv=content-type content="text/html; charset=UTF-8">
</head>
<body text="#000000" bgcolor="#fbf3cf" link="#72b3bf" alink="#e62d66" vlink="#e62d66">
<div id="wrapper" style="width: 100%; font-family: arial, sans-serif; font-size: 12px;">
	<div id="header" style="background-color: #40bdab; border-bottom: 1px #000000 solid;">
	<img src="img/logo.gif" alt="Piku" title="" width="100%" />
	</div>
	<div style="text-align: center;padding-top:0px">
		<div style="background-color: #44abaf; width: 100%; border-bottom: 1px #000000 solid;padding-top:0px">
			<table style="width:100%;background-color:#44abaf;text-align: center;">
				<tr>					
					<td style="width:30%;background-color:#44abaf;text-align: center;">
						<a href="" style="color: #FFFFFF;font-weight:bold;text-decoration: none;font-size: 14px;line-height: 24px">ログイン</a>							
					</td>
					<td style="width:30%;background-color:#44abaf;text-align: center;">
						<a href="" style="color: #FFFFFF;font-weight:bold;text-decoration: none;font-size: 14px;line-height: 24px">新規登録</a>
					</td>
					<td style="width:30%;background-color:#44abaf;text-align: center;">
						<a href="" style="color: #FFFFFF;font-weight:bold;text-decoration: none;font-size: 14px;line-height: 24px">シェア</a>
					</td>
				</tr>
			</table>
		</div>
		<div style="background-color: #44abaf; width: 100%; border-bottom: 1px #000000 solid;">
			<table style="width:100%;background-color:#44abaf;text-align: center;">
				<tr>					
					<td style="width:50%;background-color:#44abaf;text-align: center;">
						<a href="" style="color: #FFFFFF;font-weight:bold;padding-left:5px;text-decoration: none;font-size: 14px;line-height: 24px">過去のクーポン</a>							
					</td>
					<td style="width:50%;background-color:#44abaf;text-align: center;">
						<a href="" style="color: #FFFFFF;font-weight:bold;padding-left:5px;text-decoration: none;font-size: 14px;line-height: 24px">クチコミ掲示板</a>
					</td>
				</tr>
			</table>
		</div>

		<div style="background-color: #e1e1c9; padding: 5px 5px; border-bottom: 1px #000000 solid;">
			<div><span style="font-size: small;" class="form-item" id="edit-area-select-wrapper">
				<label for="edit-area-select">ご希望のエリア：</label>
				<select name="area_select" class="form-select" id="edit-area-select">
					<option value="hokkaido">北海道</option>
					<option value="aomori">青森</option>
					<option value="iwate">岩手</option>
					<option value="miyagi">宮城</option>
					<option value="akita">秋田</option>
					<option value="yamagata">山形</option>
					<option value="fukushima">福島</option>
					<option value="ibaraki">茨城</option>
					<option value="tochigi">栃木</option>
					<option value="gunma">群馬</option>
					<option value="saitama">埼玉</option>
					<option value="chiba">千葉</option>
					<option value="tokyo" selected="selected">東京</option>
					<option value="kanagawa">神奈川</option>
					<option value="niigata">新潟</option>
					<option value="toyama">富山</option>
					<option value="ishikawa">石川</option>
					<option value="fukui">福井</option>
					<option value="yamanashi">山梨</option>
					<option value="nagano">長野</option>
					<option value="gifu">岐阜</option>
					<option value="shizuoka">静岡</option>
					<option value="aichi">愛知</option>
					<option value="mie">三重</option>
					<option value="shiga">滋賀</option>
					<option value="kyoto">京都</option>
					<option value="osaka">大阪</option>
					<option value="hyogo">兵庫</option>
					<option value="nara">奈良</option>
					<option value="tottori">鳥取</option>
					<option value="shimane">島根</option>
					<option value="okayama">岡山</option>
					<option value="hiroshima">広島</option>
					<option value="yamaguchi">山口</option>
					<option value="wakayama">和歌山</option>
					<option value="tokushima">徳島</option>
					<option value="kagawa">香川</option>
					<option value="ehime">愛媛</option>
					<option value="kochi">高知</option>
					<option value="fukuoka">福岡</option>
					<option value="saga">佐賀</option>
					<option value="nagasaki">長崎</option>
					<option value="kumamoto">熊本</option>
					<option value="oita">大分</option>
					<option value="miyazaki">宮崎</option>
					<option value="kagoshima">鹿児島</option>
					<option value="okinawa">沖縄</option>
				</select>
				</span>
				<input type="submit" name="op" id="edit-submit-2" value="Go" class="form-submit" />
			</div>
		</div>
	</div>
</div>

<form id="Order_End">
<div class="container" style="width:100%;font-family:arial,sans-serif;">
<div style="background-color:#44ABAF; color: #ffffff; font-weight: bold; border-bottom: 2px #ffffff solid; padding: 5px 10px;">ご購入完了</div>
<p class="check-act" style="width: 100%; font-family: arial, sans-serif; font-size: xx-small;">クレジットカード決済</p>	
<input type="submit" value="閉じる" class="formbutton" /> <br />								
</div>
</form>

<div id="wrapper" style="width: 100%; font-family: arial, sans-serif; font-size: 12px;">
	<div id="footer" style="background-color: #514c46;">
		<div style="text-align: center;">
			<div style="background-color: #e1e1c9; padding: 5px 5px; border-bottom: 1px #000000 solid;">
				<div>
				<span style="font-size: small;"> <label>ご希望のエリア：</label>
				<select>
					<option value="">北海道</option>
					<option value="">青森</option>
					<option value="">岩手</option>
					<option value="">宮城</option>
					<option value="">秋田</option>
					<option value="">山形</option>
					<option value="">福島</option>
					<option value="">茨城</option>
					<option value="">栃木</option>
					<option value="">群馬</option>
					<option value="">埼玉</option>
					<option value="">千葉</option>
					<option value="" selected="selected">東京</option>
					<option value="">神奈川</option>
					<option value="">新潟</option>
					<option value="">富山</option>
					<option value="">石川</option>
					<option value="">福井</option>
					<option value="">山梨</option>
					<option value="">長野</option>
					<option value="">岐阜</option>
					<option value="">静岡</option>
					<option value="">愛知</option>
					<option value="">三重</option>
					<option value="">滋賀</option>
					<option value="">京都</option>
					<option value="">大阪</option>
					<option value="">兵庫</option>
					<option value="">奈良</option>
					<option value="">鳥取</option>
					<option value="">島根</option>
					<option value="">岡山</option>
					<option value="">広島</option>
					<option value="">山口</option>
					<option value="">和歌山</option>
					<option value="">徳島</option>
					<option value="">香川</option>
					<option value="">愛媛</option>
					<option value="">高知</option>
					<option value="">福岡</option>
					<option value="">佐賀</option>
					<option value="">長崎</option>
					<option value="">熊本</option>
					<option value="">大分</option>
					<option value="">宮崎</option>
					<option value="kagoshima">鹿児島</option>
					<option value="okinawa">沖縄</option>
				</select>
				</span>
				<input type="submit" value="Go" />
				</div>
			</div>
		<div>
			<div></div>
		</div>
		</div>
		<div style="background-color: #555553; padding: 5px;color: #ffffff;font-size: 12px">
			メール友達に送信 <a href="" style="text-decoration: none;">
			<img src="img/logo_email.gif" alt="mail" title=""	width="16" height="16" border="0" /></a>
		</div>
		<table style="width: 100%; font-size: 12px; margin-left: 3px;">
			<tr>
				<td style="width: 35%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">よくあるご質問</span></a></div>
				</td>
				<td style="width: 30%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">お問い合わせ</span></a></div>
				</td>
		
				<td style="width: 30%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">会社概要</span></a></div>
				</td>
			</tr>
			<tr>
				<td style="width: 35%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">特定商取引法に基づく表記</span></a></div>
				</td>
				<td style="width: 30%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">法人の皆様へ</span></a></div>
				</td>
				<td style="width: 30%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">利用規約</span></a></div>
				</td>
			</tr>
			<tr>
				<td style="width: 35%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">会員規約</span></a></div>
				</td>
				<td style="width: 30%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">プライバシーポリシー</span></a></div>
				</td>
				<td style="width: 30%">
				<div style="font-size: 12px;"><a href=""><span
					style="color: #ffffff;">ユーポン確認システム</span></a></div>
				</td>
			</tr>
		</table>
	</div>
</div>

</body>
</html>
