<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip referrals-side">
			<h3 class="first">どこでリベートを見えますか？</h3>
			<p>招待が成功した場合、本画面で招待成功リストが表示される。「アカウント設定」ページの右側にアカウントの残高が表示される。リベートが現金に交換できません。次回買物の時、リベートが支払うことに用いることができます。</p>
			<h3>友人はすでに{$INI['system']['abbreviation']}アカウントを登録した場合，買物を招待することは有効しますか？</h3>
			<p>友人は初回買物の場合，以前{$INI['system']['abbreviation']}アカウントを登録するかどうかに関係なしリベートが有効です。</p>
			<h3>どれらの情況に招待リベートは失効になりますか？</h3>
			<ul class="invalid">

			<li>友人は招待リンクをクリックして72時間を超えた後買物する</li>
			<li>友人は買物する前に他の人の招待リンクをクリックした</li>
			<li>今回は友人の初回買物ではありません</li>
			<li>共同購入の人数が下限の人数を達成してないので、今回の共同購入が取消されます</li>
			</ul>
			<h3>自分で自分を招待してもリベートをもらえますか？</h3>

			<p>もらえません。私達は人工の調査を行って、確認されたカンニングの行為について、リベートをもらえません。</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
